@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #373d44;
}

@media screen and (max-width:556px) {
    .crud-form {
        width: 300px !important;
    }

    .form-h1-edit {
        width: 250px;
        font-size: 20px;
        margin: auto;
    }
}

@media screen and (max-width:360px) {
    .crud-form {
        width: 250px !important;
    }

    .form-h1 {
        width: 220px !important;
        margin-left: -10px;
    }

    .form-h1-edit {
        width: 250px;
        font-size: 18px;
        margin-left: -16px !important;
    }
}

@media screen and (max-width:290px) {
    .crud-form {
        width: 230px !important;
    }

    .form-h1-edit {
        margin-left: -25px !important;
    }

    .form-h1 {
        font-size: 22px;
        width: 220px !important;
        text-align: center;
        margin-left: -35px;
    }
}

@media screen and (max-width:768px) {
    .main-h1 {
        font-size: 36px !important;
    }

    #add-btn {
        display: flex;
        justify-content: center !important;
    }
}

@media screen and (max-width:376px) {
    .main-h1 {
        font-size: 26px !important;
    }
}
